<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <a class="navbar-brand" href="#" ui-sref="home" translate="header.logoDesc">dev project: tiler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <!--<ul class="navbar-nav mr-auto" ng-show="'home' | includedByState">-->
            <li class="nav-item">
                <a class="nav-link" href="#" ng-show="!header.reverseNewest" ng-click="header.mostWatches()" translate="header.newest">the newest</a>
                <a class="nav-link" href="#" ng-show="header.reverseNewest" ng-click="header.mostWatches()" translate="header.oldest">the oldest</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-show="!header.reversePopular" ng-click="header.mostPopular()" translate="header.popular">most popular</a>
                <a class="nav-link" href="#" ng-show="header.reversePopular" ng-click="header.mostPopular()" translate="header.unpopular">most unpopular</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#" translate="header.or">or</a></li>
            <li class="nav-item">
                <input class="form-control mr-sm-2 header-input" type="text" placeholder="{{ 'header.searchBy' | translate }}" aria-label="Search" ng-model="header.searchText" ng-model-options="{debounce : 300}" ng-change="header.startSearch()">
            </li>
            <li class="nav-item"><a class="nav-link" href="#" translate="header.inCategory">in category</a></li>
            <li class="nav-item">
                <div class="nav-link dropdown">
                    <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate="header.all">all</span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">games</a>
                        <a class="dropdown-item" href="#">sports</a>
                        <a class="dropdown-item" href="#">politics</a>
                        <h6 class="dropdown-header">My collections</h6>
                        <a class="dropdown-item" href="#">my games</a>
                        <a class="dropdown-item" href="#">my cars</a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" ng-show="!header.userData"><a class="nav-link" href="#" translate="header.signIn" ui-sref="home.auth">Sign in</a></li>
            <li class="nav-item" ng-show="!header.userData"><a class="nav-link" href="#" ui-sref="about" translate="header.about">About</a></li>
            <li class="nav-item dropdown" ng-show="header.userData">
                <a class="nav-link dropdown-toggle d-inline-block p-0" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="d-inline-block align-text-bottom mr-2 header-user-avatar" ng-src="{{header.userData.avatar}}" alt="{{header.userData.name}}">
                    <ul class="header-user-list">
                        <li>{{header.userData.name}}</li>
                        <li>{{header.userData.email}}</li>
                    </ul>
                </a>
                <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#" ui-sref="" translate="header.myProfile">My profile</a>
                    <a class="dropdown-item" href="#" ui-sref="" translate="header.collections">Collections</a>
                    <a class="dropdown-item" href="#" ui-sref="" translate="header.users">Users</a>
                    <a class="dropdown-item" href="#" ui-sref="settings" translate="header.settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" ng-click="header.logOut()" translate="header.logOut">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>