/* Animation for forms input */

.invalid-feedback.ng-hide-remove,
.auth-error-server.ng-hide-remove,
.reg-error-server.ng-hide-remove {
    animation: bounceIn 0.7s;
}
.invalid-feedback.ng-hide-add,
.auth-error-server.ng-hide-add,
.reg-error-server.ng-hide-add {
    animation: zoomOut 0.5s;
}
.modal-view.ng-hide-remove,
.modal-view-header.ng-hide-remove,
.settings-view.ng-hide-remove {
    animation: fadeIn 0.5s;
}
.modal-view.ng-hide-add,
.modal-view-header.ng-hide-add,
.settings-view.ng-hide-add {
    display: none;
}
[ui-view].ng-enter {
    animation: fadeIn 0.5s;
}
[ui-view].ng-leave {
    display: none;
}
.navbar-section.ng-hide-remove {
    animation: bounceInLeft 0.7s;
}
.navbar-section.ng-hide-add {
    animation: bounceOutLeft 0.5s;
}
.grid-search-wrap.ng-hide-remove {
    animation: bounceIn 0.7s;
}
.grid-search-wrap.ng-hide-add {
    animation: bounceOutLeft 0.5s;
}