@import "grid-style.css";
@import "bootstrap-fixes.css";
@import "default-animations.css";
@import "modal-component.css";
@import "directives-style.css";

/* Colors */
.text-close-black {
    color: #495057 ;
}
/* Utils */
.c-pointer {
    cursor: pointer;
}
.transition-none {
    transition: none;
}
.f-size-1 {
    font-size: 1rem;
}
.t-disabled {
    opacity: .65;
    pointer-events: none;
    cursor: pointer;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.img-emoji {
    width: 25px;
    height: 25px;
}
/* Mixins */
.default-input {
    border-radius: .25rem;
    padding-left: 2.5rem;
    height: 40px;
    font-weight: 100;
}
.default-input:focus ~ .default-input-icon {
    color: #80bdff;
}
.default-input-icon {
    position: absolute;
    z-index: 10;
    color: #868e96;
    padding-top: 0.3rem;
    padding-left: 0.75rem;
    font-size: 1.25rem;
    opacity: 0.5;
}
.default-input-select {
    margin-left: -1.5rem;
    margin-top: 0.25rem;
    font-size: 1.25rem;
    opacity: 0.5;
}
/* General */
* {
    outline: none !important;
}
a {
    text-decoration: none !important;
}
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}
i {
    transition: all 0.2s;
}
/* Header */
.header-input {
    background: none;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    border-top: 2px solid rgba(0, 0, 0, 0);
    padding-left: 1.5rem;
}
.header-input:focus {
    background: none;
    color: #ffffff;
    border-color: rgba(0, 0, 0, 0);
}
.header-input::-webkit-input-placeholder {color:#78bdff !important;}
.header-input::-moz-placeholder          {color:#78bdff !important;}/* Firefox 19+ */
.header-input:-moz-placeholder           {color:#78bdff !important;}/* Firefox 18- */
.header-input:-ms-input-placeholder      {color:#78bdff !important;}
.header-input-icon {
    position: absolute;
    color: white;
    opacity: 0.5;
    margin-top: -1.8rem;
}
.header-input:focus ~ i {
    opacity: 1;
}
.header-user-avatar {
    max-width: 36px;
    max-height: 36px;
}
.header-user-list {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    font-size: 0.8rem;
}
.header-dropdown-title {
    color: #495057;
    font-weight: 600;
    padding: 0.5rem 1rem;
    display: block;
    margin-bottom: 0;
    font-size: .875rem;
    white-space: nowrap;
}
.header-dropdown-item.select {
    background: #f6f6f6;
    cursor: pointer;
    color: #007bff;
}
.header-dropdown-item {
    padding: 0.5rem 1rem;
    color: #868e96;
    font-size: 0.9rem;
    transition: all 0.2s;
}
.header-dropdown-item:focus,
.header-dropdown-item:hover {
    color: #000000;
    background: #f6f6f6;
}
.header-dropdown-fixed-height {
    max-height: 190px;
    overflow-y: auto;
    margin-right: 0.35rem;
}
.create-collection-list-fixed::-webkit-scrollbar,
.header-dropdown-fixed-height::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}
.create-collection-list-fixed::-webkit-scrollbar-thumb,
.header-dropdown-fixed-height::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}
.hidden-after:after {
    display: none !important;
}



/* About page */
.about-nav-block {
    border-right: 1px solid #ddd;
    background-color: #f8f9fa;
}
.about-nav-block .sticky-top {
    top: 56px;
}
.about-nav {
    padding-right: 0;
    padding-left: 3rem;
    padding-top: 1.3rem;
}
.about-nav .nav-link {
    padding: 0.4rem 0;
    font-size: 0.9rem;
    color: #818182;
    transition: all 0.1s ease-out;
}
.about-nav .nav-link.active {
    color: #000000;
}
.about-text-block {
    padding: 1.5rem 0;
}
.about-dev-icons {
    padding: 1rem 0;
}
.about-dev-icons img {
    max-height: 55px;
    padding: 0.25rem;
}



/* Settings page */
.settings-page-header {
    font-size: 2rem;
    font-weight: 200;
}
.settings-avatar {
    width: 100px;
    margin-right: 1rem;
}
/*.settings-avatar-cover {*/
    /*width: 60px;*/
    /*text-align: center;*/
    /*line-height: 16px;*/
    /*border: 1px solid #ff717f;*/
    /*height: 60px;*/
    /*display: inline-block;*/
    /*border-radius: 3px;*/
    /*padding-top: 1.25rem;*/
    /*vertical-align: middle;*/
    /*font-size: 2rem;*/
    /*margin-right: 1rem;*/
    /*color: #ffb8bf;*/
/*}*/
.settings-item-title {
    font-size: 1rem;
    font-weight: 400;
}
.settings-item-description {
    font-size: 0.75rem;
    font-weight: 400;
}



/* Create post page */
.create-page-header {
    font-size: 2rem;
    font-weight: 200;
}
.create-item-description {
    font-size: 0.75rem;
    font-weight: 400;
}
.create-item-title {
    font-weight: 400;
}
.create-item-title-sm {
    font-weight: 400;
    font-size: 1rem;
}
.create-title-input {
    font-size: 1.25rem;
    font-weight: 300;
}
.create-category-title {
    background: #f7f7f7;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.create-collection-list-fixed {
    max-height: 9rem;
    overflow-y: auto;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
}
.create-default-item,
.create-category-item,
.create-collection-item {
    padding: 0.5rem 1rem;
    color: #868e96;
    font-size: 0.9rem;
    display: block;
    transition: all 0.2s;
}
.create-category-item.select,
.create-collection-item.select {
    font-weight: 500;
    color: #000000;
}
.create-category-item:hover,
.create-collection-item:hover {
    background: #f7f7f7;
    color: #000;
}
.create-default-item.select {
    background: #f7f7f7;
    font-weight: 500;
    color: #000000;
}
.create-preview-name {
    width: 100%;
    padding: 4rem 0;
    user-select: none;
    cursor: pointer;
}
.create-preview-name-wrapper {
    text-align: center;
    font-size: 6rem;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    color: #e9ecef;
}


/*.blur {*/
    /*filter: blur(2px);*/
/*}*/