@import "grid-style.css";
@import "bootstrap-fixes.css";

* {
    outline: none !important;
}
body::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #BFBFBF;
}

.grid-wrap {
    padding: 0.5rem;
}

.header-input {
    background: none !important;
    color: white !important;
    border: none !important;
    border-bottom: 1px solid #78bdff !important;
    border-radius: 0px !important;
    border-top: 2px solid #007bff !important;
}

.header-input::-webkit-input-placeholder {color:#78bdff !important;}
.header-input::-moz-placeholder          {color:#78bdff !important;}/* Firefox 19+ */
.header-input:-moz-placeholder           {color:#78bdff !important;}/* Firefox 18- */
.header-input:-ms-input-placeholder      {color:#78bdff !important;}

.auth-input-icon {
    position: absolute;
    z-index: 10;
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    color: #868e96;
}
.auth-input {
    font-size: 0.8rem !important;
    border-radius: .25rem !important;
    padding-left: 2rem !important;
}
.auth-input:focus ~ .auth-input-icon {
    color: #80bdff;
}
.auth-input-error {
    border-color: #ff717f !important;
    color: #ff717f !important;
}
.auth-input-error ~ .auth-input-icon {
    color: #ff717f !important;
}
.auth-social-icon {
    padding: 0.25rem;
    width: 100%;
    cursor: pointer;
}
.auth-required-field {
    font-size: 0.8rem;
    padding-right: 0.25rem;
    opacity: 0.75;
}
.auth-required-error {
    font-size: 0.8rem;
    opacity: 0.75;
}
.auth-agree-rules {
    font-size: 0.9rem;
}
.modal-close-button {
    width: 1.5rem;
    cursor: pointer;
}
.post-image {
    width: 100%;
    padding: 1rem 0rem;
}
.about-nav-block {
    border-right: 1px solid #ddd;
    background-color: #f8f9fa;
}
.about-nav-block .sticky-top {
    top: 56px;
}
.about-nav {
    padding-right: 0px !important;
    padding-left: 3rem !important;
    padding-top: 1.3rem !important;
}
.about-nav .nav-link {
    padding: 0.4rem 0rem;
    font-size: 0.9rem;
    color: #818182 !important;
    transition: all 0.1s ease-out;
}
.about-nav .nav-link.active {
    color: #111 !important;
}
.about-text-block {
    padding: 1.5rem 0rem;
}
.about-dev-icons {
    padding: 1rem 0rem;
}
.about-dev-icons img {
    max-height: 55px;
    padding: 0.25rem;
}