<div class="row justify-content-md-center grid-container">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-11">
        <div class="grid-view-absolute">
            <div class="mt-5 text-center grid-search-wrap" ng-show="grid.posts.length === 0">
                <i class="mdi mdi-comment-alert-outline mdi-48px" aria-hidden="true"></i>
                <div class="grid-search-title lead" ng-show="grid.searchText"><span class="text-danger">{{grid.searchText}}</span> - <span translate="grid.notFoundTitle">not found</span></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 mx-auto lead">
                    <span translate="grid.notFoundDesc">Nothing found on your request, try to change the search category, or</span>
                    <a href="" ui-sref="create" translate="grid.notFoundLink">create an interesting post</a>
                    <span translate="grid.notFoundEnd">yourself</span>
                </div>
            </div>
            <div class="grid-wrap">
                <div class="dynamic-grid" angular-grid="grid.posts" ag-grid-width="grid.gridWidth" ag-gutter-size="grid.gutterSize" ag-id="gallery" ag-infinite-scroll="grid.loadMore()" ng-class="{'h-100' : grid.posts.length === 0}">
                    <div class="card grid" data-ng-repeat="post in grid.posts | orderBy: grid.sortingType">
                        <div class="grid-img-wrap" ui-sref="home.post({id:post.id})">
                            <img class="card-img-top" ng-src="{{post.preview}}" alt="{{post.title}}">
                            <span class="grid-author"><i class="mdi mdi-account-circle mr-2" aria-hidden="true"></i>{{post.user.name}}</span>
                            <div class="grid-tags">
                                <span class="grid-tags-item" ng-repeat="tag in post.tags track by $index">{{tag}}</span>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <p class="card-text mb-0 grid-title text-close-black">{{post.title}}</p>
                            <p class="card-text mb-0 grid-desc" ng-bind-html="grid.setText(post.text)"></p>
                            <hr class="mb-1">
                            <div class="row text-close-black">
                                <div class="col-7 pr-0">
                                    <small><i class="mdi mdi-clock" aria-hidden="true"></i> {{post.created}}</small>
                                </div>
                                <div class="col pl-0 text-right no-select">
                                    <small class="mr-2" ng-click="grid.setLike(post.id, 1)">
                                        <i class="mdi mdi-thumb-up-outline" aria-hidden="true"></i>
                                        {{post.likes.length !== 0 ? post.likes.length : ''}}
                                    </small>
                                    <small class="mr-2" ng-click="grid.setLike(post.id, 0)">
                                        <i class="mdi mdi-thumb-down-outline" aria-hidden="true"></i>
                                        {{post.dislikes.length !== 0 ? post.dislikes.length : ''}}
                                    </small>
                                    <!--<small><i class="mdi mdi-eye-outline" aria-hidden="true"></i> {{post.views_count}}</small>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-nothing-load-more text-center lead my-5 text-primary" ng-show="grid.lastPage && grid.posts.length !== 0 && !grid.searchText" translate="grid.nothingLoad">Nothing more to load on your request</div>
            </div>
        </div>
    </div>
</div>
<ui-view name="modal" />