<div class="container" ng-controller="CreateController as create">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto my-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h3 class="mb-3 create-page-header" translate="create.createTitle">Create post</h3>
                </div>
                <form name="createForm">
                    <hr>
                    <div class="col-12 px-3">
                        <div class="row my-4">
                            <div class="col-8">
                                <input type="text" class="form-control create-title-input" ng-class="{'is-invalid' : createForm.title.$invalid && createForm.title.$dirty || create.utils.formSubmitted && createForm.title.$invalid || create.form.title.length > 36}" placeholder="{{ 'create.createTitleInput' | translate }}" ng-model="create.form.title" aria-label="title" name="title" minlength="6" required>
                                <div ng-show="createForm.title.$invalid && createForm.title.$dirty || create.utils.formSubmitted && createForm.title.$invalid" class="invalid-feedback" translate="create.minimumTitle">Minimum length of 6 characters</div>
                                <div ng-show="create.form.title.length > 36 || create.utils.formSubmitted && create.form.title.length > 36" class="invalid-feedback d-block" translate="create.maximumTitle">Maximum length of 36 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-3">
                        <div class="summernote-wrapper" ng-class="{'is-invalid' : create.form.text.length !== 0 && create.utils.plainText.length < 40 || createForm.text.$dirty && create.utils.plainText === '' && create.form.text.length !== 0 || create.utils.formSubmitted && createForm.text.$invalid || create.utils.plainText.length > 500}">
                            <div class="summernote-text-counter">
                                <div class="text-secondary" ng-hide="create.form.text.length !== 0 && create.utils.plainText.length < 40 || createForm.text.$dirty && create.utils.plainText === '' && create.form.text.length !== 0 || create.utils.formSubmitted && createForm.text.$invalid || create.utils.plainText.length > 500">
                                    <small>{{create.utils.plainText.length}} / 500</small>
                                </div>
                                <div ng-show="create.form.text.length !== 0 && create.utils.plainText.length < 40 || createForm.text.$dirty && create.utils.plainText === '' && create.form.text.length !== 0 || create.utils.formSubmitted && createForm.text.$invalid && create.utils.plainText.length < 40" class="summernote-invalid-feedback mt-2" translate="create.minimumText">Minimum length of 40 characters</div>
                                <div ng-show="create.form.text.length !== 0 && create.utils.plainText.length > 500 || create.utils.formSubmitted && createForm.text.$invalid && create.utils.plainText.length > 500" class="summernote-invalid-feedback mt-2" translate="create.maximumText">Maximum length of 500 characters</div>
                            </div>
                            <input type="file" id="summernoteInputFileImg" accept="image/x-png,image/gif,image/jpeg" aria-label="Summernote file" name="summernoteFile" hidden>
                            <summernote id="summernote" config="create.options" ng-model="create.form.text" name="text" minlength="40" required><summernote/>
                        </div>
                    </div>
                    <div class="col-12 px-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 my-3">
                                <div class="mt-3">
                                    <button type="button" class="btn btn-link lead d-flex">
                                        <i class="mdi mdi-vector-arrange-below mr-2" aria-hidden="true"></i>
                                        <a href="#" translate="create.selectCategory">Select category</a>
                                    </button>
                                    <div class="mt-0">
                                        <hr class="dropdown-divider">
                                        <div class="create-category-list-fixed">
                                            <div ng-repeat="category in create.categories | orderBy:'name'">
                                                <a class="create-collection-item" ng-class="{'select': create.form.categories.indexOf(category.id) !== -1}" href="#" ng-click="create.selectItems(category.id, 'category')">
                                                    <i class="mdi mdi-check transition-none mr-1" ng-show="create.form.categories.indexOf(category.id) !== -1" aria-hidden="true"></i>{{category.name}}
                                                </a>
                                            </div>
                                        </div>
                                        <div class="selected-items text-secondary px-3 pt-3" ng-show="create.form.categories.length !== 0">
                                            <small><span translate="create.selected">Selected: </span>{{create.form.categories.length}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 my-3">
                                <div class="mt-3">
                                    <button type="button" class="btn btn-link lead d-flex">
                                        <i class="mdi mdi-pound mr-2" aria-hidden="true"></i>
                                        <a href="#" translate="create.tagsAdd">Add tags</a>
                                    </button>
                                    <div class="mt-0">
                                        <tags-input placeholder="{{ 'create.tagsPlaceholder' | translate }}" ng-model="create.utils.tags" on-tag-added="create.utils.tags.length > create.utils.tagsLimit ? create.utils.tags.splice(-1,1) : create.form.tags.push($tag.text)" on-tag-removed="create.form.tags.splice(create.form.tags.indexOf($tag.text), 1);" replace-spaces-with-dashes="false" enable-editing-last-tag="true" template="custom-template" min-length="3" max-length="12"></tags-input>
                                        <div ng-show="create.utils.tags.length === create.utils.tagsLimit" class="invalid-feedback d-block px-2" translate="create.tagsAllowed">Allowed to enter no more than 10 tags</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-3">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 my-3">
                                <button type="button" class="btn btn-link lead d-flex">
                                    <i class="mdi mdi-vector-arrange-below mr-2" aria-hidden="true"></i>
                                    <a ui-sref="collections" translate="create.collections">Collections</a>
                                </button>
                                <div class="mt-0">
                                    <hr class="dropdown-divider">
                                    <div class="p-3" ng-show="create.collections.length === 0">
                                        <span translate="create.emptyCollections">You have no collections, click</span>
                                        <a href="" ui-sref="collections" translate="create.clickCollections">here</a>
                                        <span translate="create.firstCollections">to create the first collection</span>
                                    </div>
                                    <div ng-show="create.collections.length > 0" class="create-collection-list-fixed">
                                        <a class="create-default-item" ng-class="{'select': create.form.collections.length === 0}" href="#" ng-click="create.form.collections = []">
                                            <i class="mdi mdi-check transition-none mr-1" ng-show="create.form.collections.length === 0" aria-hidden="true"></i>
                                            <span translate="create.default">Default</span>
                                        </a>
                                        <div ng-repeat="collection in create.collections | orderBy:'name'">
                                            <a class="create-collection-item" ng-class="{'select': create.form.collections.indexOf(collection.id) !== -1}" href="#" ng-click="create.selectItems(collection.id, 'collection')">
                                                <i class="mdi mdi-check transition-none mr-1" ng-show="create.form.collections.indexOf(collection.id) !== -1" aria-hidden="true"></i>{{collection.name}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="selected-items text-secondary px-3 pt-3" ng-show="create.form.collections.length !== 0">
                                        <small><span translate="create.selected">Selected: </span>{{create.form.collections.length}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
                                        <div class="base64-image-wrapper-create img-thumbnail">
                                            <div class="base64-image-wrapper d-block">
                                                <div class="create-preview-name" ng-show="!create.form.preview"  ng-style="{'background' : create.utils.randomColor.length === 6 ? create.changeColor() : create.utils.randomColor}" ng-click="create.changeColor()">
                                                    <div class="create-preview-name-wrapper">{{create.userData.name[0]}}{{create.userData.surname ? create.userData.surname[0] : ''}}</div>
                                                </div>
                                                <img class="d-inline-block img-responsive" ng-show="create.form.preview" ng-src="{{create.form.preview}}" alt="{{create.form.title}}">
                                                <div class="base64-image-wrapper-loader animation-fade" ng-show="create.utils.base64Loader">
                                                    <div class="base64-image-wrapper-loader-inside">
                                                        <i class="mdi mdi-loading rotating-spinner"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
                                        <div class="d-block align-middle">
                                            <div class="create-item-title" translate="create.postPreview">Post preview</div>
                                            <div class="text-muted create-item-description" translate="create.descPreview">The image will be the main one for the post</div>
                                        </div>
                                        <div class="row px-3 mt-3">
                                            <input type="color" id="inputColor" ng-model="create.utils.randomColor" hidden>
                                            <input image-base64 type="file" id="inputFileImg" accept="image/x-png,image/gif,image/jpeg" aria-label="Preview file" name="previewFile" ng-model="create.utils.base64File" result="create.form.preview" error="create.utils.base64Error" hidden>
                                            <input image-base64 type="text" class="form-control default-input" ng-class="{'is-invalid' : create.utils.base64Error}" placeholder="{{ 'create.linkPreview' | translate }}" aria-label="Preview link" name="previewLink" ng-model="create.utils.base64Link" result="create.form.preview" loader="create.utils.base64Loader" error="create.utils.base64Error" ng-disabled="create.utils.base64Loader">
                                            <i class="default-input-icon mdi mdi-link"></i>
                                            <div ng-show="create.utils.base64Error" class="invalid-feedback ml-3">{{create.utils.base64Error}}</div>
                                            <div class="row mt-2">
                                                <div class="col-sm-6 col-md-l2 col-lg-12 col-xl-l2">
                                                    <button type="button" class="btn btn-link btn-sm d-flex" onclick="document.getElementById('inputFileImg').click()">
                                                        <i class="mdi mdi-file-find mr-2"></i>
                                                        <span translate="create.filePreview">Select file</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 col-md-l2 col-lg-12 col-xl-l2" ng-show="!create.form.preview || create.utils.formSubmitted">
                                                    <button type="button" class="btn btn-link btn-sm d-flex" ng-click="create.changeColor()">
                                                        <i class="mdi mdi-refresh mr-2"></i>
                                                        <span translate="create.changeColor">Change color</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 col-md-l2 col-lg-12 col-xl-l2" ng-show="!create.form.preview || create.utils.formSubmitted">
                                                    <button type="button" class="btn btn-link btn-sm mb-2 d-flex" onclick="document.getElementById('inputColor').click()">
                                                        <i class="mdi mdi-format-color-fill mr-2"></i>
                                                        <span translate="create.selectColor">Select color</span>
                                                    </button>
                                                </div>
                                                <div class="col-sm-6 col-md-l2 col-lg-12 col-xl-l2" ng-show="create.form.preview && !create.utils.formSubmitted">
                                                    <button type="button" class="btn btn-link btn-sm mb-2 text-danger d-flex" ng-click="create.form.preview = ''">
                                                        <i class="mdi mdi-close mr-2"></i>
                                                        <span translate="create.removeImage">Remove image</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!--<div class="row">-->
                            <!--<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
                                <!--<div class="lead" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
                                    <!--<strong>Дополнительно</strong>-->
                                <!--</div>-->
                                <!--<div class="collapse" id="collapseExample">-->
                                    <!--<div class="mt-3">-->
                                        <!--<button class="btn btn-link" type="button" translate="create.selectCategory">-->
                                            <!--Select category-->
                                        <!--</button>-->
                                        <!--&lt;!&ndash;<a class="nav-link"><span class="create-category-title mr-2" translate="create.selectCategory"></span></a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div ng-show="create.collections.length > 0" class="dropdown-divider"></div>&ndash;&gt;-->
                                        <!--<div ng-show="create.categories" ng-repeat="category in create.categories">-->
                                            <!--<a class="create-category-item" ng-class="{'select': create.form.categories.indexOf(category.id) !== -1}" href="#" ng-click="create.selectItems(category.id, 'category')">-->
                                            <!--<i class="mdi mdi-check transition-none mr-1" ng-show="create.form.categories.indexOf(category.id) !== -1" aria-hidden="true"></i>-->
                                            <!--{{category.name}}-->
                                            <!--</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="col-12 mt-5">
                        <div class="row px-3">
                            <div class="col-12 text-center">
                                <div class="create-item-title-sm" translate="create.postPublish">Publish post</div>
                                <small>
                                    <span class="text-danger">* <span class="text-muted" translate="create.postPublishDesc">creating a public message, you agree with the</span>
                                        <a href="" translate="create.postPublishDescLink">site rules</a>
                                    </span>
                                </small>
                                <div class="col-12 mx-auto my-3">
                                    <button type="submit" class="btn btn-primary" material-ripple data-ripple-color="#818182" ng-click="create.postPublish(createForm.$valid)" translate="create.postPublic">Public</button>
                                </div>
                                <!--<div ng-show="" class="invalid-feedback d-block" translate="settings.inputCurrPassErr">Password length at least 4 characters</div>-->
                                <!--<div ng-show="settings.settingsFormSubmitted && settings.updateFormServerError" class="text-center invalid-feedback d-block">-->
                                    <!--<i class="mdi mdi-account-alert"></i>-->
                                    <!--<span ng-show="settings.updateFormServerError.current_password">{{settings.updateFormServerError.current_password[0]}}</span>-->
                                    <!--<span ng-show="!settings.updateFormServerError.current_password" translate="settings.updateError">Update error</span>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="custom-template">
        <div class="tag-template">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">
                <i class="mdi mdi-window-close"></i>
            </a>
        </div>
    </script>
</div>