<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="modalWindowTitle">
                    <span class="modal-view-header" ng-show="modal.authView" translate="modal.auth.header">Authorization</span>
                    <span class="modal-view-header" ng-show="modal.regView"><i class="mdi mdi-arrow-left text-muted mr-3 c-pointer" ng-click="modal.authSwitch()"></i><span translate="modal.reg.header"> Registration</span></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="modal-close-button" src="../../../img/interface/close-cross.svg" aria-hidden="true">
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 text-center modal-view" ng-show="modal.authView">
                    <h5 translate="modal.auth.title">Welcome back.</h5>
                    <h6 class="text-muted" translate="modal.auth.desc">Sign into your account here:</h6>
                    <form name="authForm" class="mt-4 w-75 d-inline-block">
                        <div class="row px-3">
                            <input type="email" class="form-control default-input" ng-class="{'is-invalid' : authForm.email.$invalid && authForm.email.$dirty || authForm.email.$invalid && modal.authFormSubmitted, 'is-valid' : authForm.email.$valid && authForm.email.$dirty}" placeholder="{{ 'modal.auth.inputEmail' | translate }}" aria-label="Email address" name="email" ng-model="modal.auth.username" ng-pattern="/^[A-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required >
                            <i class="mdi mdi-email default-input-icon"></i>
                            <div ng-show="authForm.email.$invalid && authForm.email.$dirty || authForm.email.$invalid && modal.authFormSubmitted" class="invalid-feedback" translate="modal.auth.inputEmailErr">Incorrect email</div>
                        </div>
                        <div class="row px-3 mt-3">
                            <input type="password" class="form-control default-input" ng-class="{'is-invalid' : authForm.password.$invalid && authForm.password.$dirty || authForm.password.$invalid && modal.authFormSubmitted, 'is-valid' : authForm.password.$valid && authForm.password.$dirty}" placeholder="{{ 'modal.auth.inputPass' | translate }}" aria-label="Password" name="password" ng-model="modal.auth.password" ng-minlength="4" required>
                            <i class="mdi mdi-lock default-input-icon"></i>
                            <div ng-show="authForm.password.$invalid && authForm.password.$dirty || authForm.password.$invalid && modal.authFormSubmitted" class="invalid-feedback" translate="modal.auth.inputPassErr">Password length at least 4 characters</div>
                        </div>
                        <div ng-show="modal.authFormSubmitted && modal.authFormServerError.error" class="auth-error-server text-danger">
                            <i class="mdi mdi-account-alert mr-1"></i>
                            <span translate="modal.auth.inputPassErrServer">These credentials do not match our records.</span>
                        </div>
                        <a class="d-block mt-4" href="" ui-sref="#" translate="modal.auth.forgotPass">Forgotten password?</a>
                        <button class="mt-3 w-50 btn btn-success" material-ripple ng-click="modal.authUser(authForm.$valid)" translate="modal.auth.signIn">Sign in</button>
                    </form>
                    <h6 class="text-muted mt-4">&mdash; <span translate="modal.auth.orContinue">Or continue with</span> &mdash;</h6>
                    <div class="row mt-3">
                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 ml-auto">
                            <img class="auth-social-icon" src="../../../img/social-icons/twitter.svg" alt="Twitter">
                        </div>
                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2" ng-click="modal.authUserBySocial('google')">
                            <img class="auth-social-icon" src="../../../img/social-icons/google.svg" alt="Google">
                        </div>
                        <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-2 mr-auto" ng-click="modal.authUserBySocial('instagram')">
                            <img class="auth-social-icon" src="../../../img/social-icons/instagram.svg" alt="Instagram">
                        </div>
                    </div>
                    <h6 class="text-muted mt-3 d-inline-block" translate="modal.auth.dontHaveAcc">Don't have an account?</h6>
                    <a href="" ng-click="modal.authSwitch()" translate="modal.auth.signUp">Sign up.</a>
                </div>
                <div class="col-12 text-center modal-view" ng-show="modal.regView">
                    <h5 translate="modal.reg.title">Join us!</h5>
                    <h6 class="text-muted mb-4" translate="modal.reg.isFree">Registration is free</h6>
                    <image-base64 type="text" ng-model="modal.utils.defaultAvatarLink" result="modal.reg.avatar" loader error>
                    <div class="row justify-content-center">
                        <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <div id="carouselDefaultAvatars" class="carousel slide" data-ride="carousel" data-interval="0">
                                <div class="carousel-inner">
                                    <div class="carousel-item" ng-class="{'active' : $first}" ng-repeat="avatar in modal.avatars" index={{$index}}>
                                        <img class="d-block w-100" src="../img/default-avatars/{{avatar.image}}" alt="{{avatar.name}}">
                                        <span class="auth-avatar-name">{{avatar.name}}</span>
                                    </div>
                                </div>
                                <a class="carousel-control-prev auth-avatar-chevron-prev" data-target="#carouselDefaultAvatars" role="button" data-slide="prev">
                                    <i class="mdi mdi-chevron-left" aria-hidden="true"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next auth-avatar-chevron-next" data-target="#carouselDefaultAvatars" role="button" data-slide="next">
                                    <i class="mdi mdi-chevron-right" aria-hidden="true"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <small class="d-block"><span class="text-success">*</span> <span class="text-muted" translate="modal.reg.canChange">you can change default avatar after registration</span></small>
                    <div class="row justify-content-center my-3" ng-show="modal.utils.regContinue">
                        <div class="col-8 alert alert-success rounded p-3 mb-0" translate="modal.reg.socialReg">To continue registration, it remains to fill in several fields</div>
                    </div>
                    <h6 class="mt-5" ng-hide="modal.utils.regContinue" translate="modal.reg.desc">Enter your account information here:</h6>
                    <form name="regForm" class="mt-2 w-75 d-inline-block">
                        <div class="row px-3">
                            <input type="text" class="form-control default-input" ng-class="{'is-invalid' : regForm.name.$invalid && regForm.name.$dirty || regForm.name.$invalid && modal.regFormSubmitted, 'is-valid' : regForm.name.$valid && regForm.name.$dirty || modal.utils.regContinue && modal.reg.name.length !== 0}" placeholder="{{ 'modal.reg.inputName' | translate }}" aria-label="Name" name="name" ng-model="modal.reg.name" ng-minlength="2" ng-maxlength="15" required >
                            <i class="default-input-icon mdi mdi-account"></i>
                            <div ng-show="regForm.name.$invalid && regForm.name.$dirty || regForm.name.$invalid && modal.regFormSubmitted" class="invalid-feedback" translate="modal.reg.inputNameErr">The name field can contain from 2 to 10 characters</div>
                        </div>
                        <div ng-show="modal.regFormSubmitted && modal.regFormServerError.name" class="text-danger reg-error-server">
                            <span translate="modal.reg.inputNameErrServer">The name field is required</span>
                        </div>
                        <div class="row px-3 mt-3">
                            <input type="email" class="form-control default-input" ng-class="{'is-invalid' : regForm.email.$invalid && regForm.email.$dirty || regForm.email.$invalid && modal.regFormSubmitted || modal.regFormSubmitted && modal.regFormServerError.email, 'is-valid' : regForm.email.$valid && regForm.email.$dirty && !modal.regFormServerError.email || modal.utils.regContinue && modal.reg.email.length !== 0}" placeholder="{{ 'modal.reg.inputEmail' | translate }}" aria-label="Email address" name="email" ng-model="modal.reg.email" ng-pattern="/^[A-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" required >
                            <i class="default-input-icon mdi mdi-email"></i>
                            <div ng-show="regForm.email.$invalid && regForm.email.$dirty || regForm.email.$invalid && modal.regFormSubmitted" class="invalid-feedback" translate="modal.reg.inputEmailErr">The email field must have a valid email</div>
                        </div>
                        <div ng-show="modal.regFormSubmitted && modal.regFormServerError.email" class="text-danger reg-error-server">
                            <i class="mdi mdi-emoticon-sad"></i>
                            <span class="text-close-black"><u>{{modal.regFormServerError.takenEmail}}</u></span>
                            <span translate="modal.reg.inputEmailErrServer">The email has already been taken</span>
                        </div>
                        <div class="row px-3 mt-3">
                            <input type="password" class="form-control default-input" ng-class="{'is-invalid' : regForm.password.$invalid && regForm.password.$dirty || regForm.password.$invalid && modal.regFormSubmitted || modal.utils.regContinue && modal.reg.password.length === 0, 'is-valid' : regForm.password.$valid && regForm.password.$dirty}" placeholder="{{ 'modal.reg.inputPass' | translate }}" aria-label="Password" name="password" ng-model="modal.reg.password" ng-minlength="4" required >
                            <i class="default-input-icon mdi mdi-lock"></i>
                            <div ng-show="regForm.password.$invalid && regForm.password.$dirty || regForm.password.$invalid && modal.regFormSubmitted" class="invalid-feedback" translate="modal.reg.inputPassErr">Password length at least 4 characters</div>
                        </div>
                        <div ng-show="modal.regFormSubmitted && modal.regFormServerError.password" class="text-danger reg-error-server">
                            <span translate="modal.reg.inputPassErrServer">The password field is required</span>
                        </div>
                        <div class="row px-3 mt-3">
                            <input type="password" class="form-control default-input" ng-class="{'is-invalid' : regForm.password.$dirty && modal.reg.password_confirmation !== modal.reg.password || modal.regFormSubmitted && regForm.password.$touched && modal.reg.password_confirmation !== modal.reg.password || modal.utils.regContinue && modal.reg.password_confirmation.length === 0, 'is-valid' : regForm.password.$dirty && regForm.password_confirmation.$dirty && modal.reg.password_confirmation === modal.reg.password}" placeholder="{{ 'modal.reg.inputConfPass' | translate }}" aria-label="Confirm password" name="password_confirmation" ng-model="modal.reg.password_confirmation" required >
                            <i class="default-input-icon mdi mdi-lock"></i>
                            <span ng-show="regForm.password.$touched && modal.reg.password_confirmation !== modal.reg.password || modal.regFormSubmitted && regForm.password.$touched && modal.reg.password_confirmation !== modal.reg.password" class="invalid-feedback" translate="modal.reg.inputConfPassErr">Password confirmation does not match</span>
                        </div>
                        <small><span class="text-danger">*</span> <span class="text-muted" translate="modal.reg.requiredFields">all fields are required</span></small>
                        <div class="row px-3 mt-4 text-center d-block">
                            <label class="d-block mt-4 pl-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="termsAgree" class="custom-control-input" ng-model="modal.reg.terms" required>
                                    <span class="custom-control-indicator"></span>
                                    <div class="reg-agree-rules custom-control-description" >
                                        <span translate="modal.reg.inputTerms">I agree with </span>
                                        <a href="" translate="modal.reg.inputTermsLink">terms of use</a>
                                    </div>
                                </div>
                                <span ng-show="!modal.reg.terms" class="d-inline-block invalid-feedback" translate="modal.reg.inputTermsErr">You must agree with the terms of use</span>
                            </label>
                        </div>
                        <button class="mt-4 w-50 btn btn-primary" material-ripple ng-click="modal.regUser(regForm.$valid)" translate="modal.reg.signUp">Sign up</button>
                    </form>
                    <div>
                        <h6 class="text-muted mt-3 d-inline-block" translate="modal.reg.getBack">Get back to </h6>
                        <a href="" ng-click="modal.authSwitch()" translate="modal.reg.getBackLink">authorization.</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>