<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="modalWindowTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="modalWindowTitle">{{modal.post.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img class="modal-close-button" src="../../../img/interface/close-cross.svg" aria-hidden="true">
                </button>
            </div>
            <div class="modal-body">
                <img class="post-image" src="{{modal.post.images.normal}}">
                <p ng-bind-html="::modal.post.description | unsafe"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>