<div class="container-fluid" ng-controller="SettingsController as settings">
    <div class="row">
        <div class="col-3">
            <h3>Account settings</h3>
            <li class="nav-item"><a class="nav-link" href="#" ng-click="settings.changeLanguage('ru')">RU</a></li>
            <li class="nav-item"><a class="nav-link" href="#" ng-click="settings.changeLanguage('en')">ENG</a></li>
            <select class="custom-select">
                <option selected="selected">Select language</option>
                <option value="en">English</option>
                <option value="ru">Russian</option>
            </select>
        </div>
    </div>
</div>