<div class="container" ng-controller="SettingsController as settings">
    <div class="row">
        <div class="col-12 mt-5">
            <h3 class="mb-5">Account settings</h3>
            <span class="mr-4">Interface language: </span>
            <select class="custom-select" ng-model="settings.currentLang" ng-click="settings.changeLanguage()">
                <option ng-repeat="language in settings.availableLang" value="{{language}}">
                    {{language}}
                </option>
            </select>
        </div>
    </div>
</div>