<div class="container" ng-controller="CollectionsController as collections">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto mt-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h3 class="mb-3 collections-page-header" translate="collections.title">Collections</h3>
                </div>
                <form name="createFormSubmitted" class="w-100">
                    <hr>
                    <div class="col-12 px-3">
                        <div class="row my-4">
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                                <p translate="collections.description">Here you can create a new collection and save in it your posts</p>
                                <input type="text" class="form-control collections-title-input" ng-class="{'is-invalid' : createFormSubmitted.name.$invalid && createFormSubmitted.name.$dirty || collections.formSubmitted && createFormSubmitted.name.$invalid || collections.collectionName.length > 18 || collections.formSubmitted && collections.createExist}" placeholder="{{ 'collections.NameInput' | translate }}" ng-model="collections.collectionName" ng-change="collections.createExist = false" aria-label="name" name="name" minlength="3" required>
                                <div ng-show="createFormSubmitted.name.$invalid && createFormSubmitted.name.$dirty || collections.formSubmitted && createFormSubmitted.name.$invalid" class="invalid-feedback" translate="collections.minimumName">Minimum length of 3 characters</div>
                                <div ng-show="collections.collectionName.length > 18 || collections.formSubmitted && collections.collectionName.length > 18" class="invalid-feedback d-block" translate="collections.maximumName">Maximum length of 18 characters</div>
                                <div ng-show="collections.formSubmitted && collections.createExist" class="invalid-feedback d-block" translate="collections.exists">A collection with this name already exists</div>
                                <button type="submit" class="btn btn-link mt-2" ng-click="collections.createCollection(createFormSubmitted.$valid)">
                                    <i class="mdi mdi-plus mr-2" aria-hidden="true"></i><span translate="collections.createButton">Create collection</span>
                                </button>
                            </div>
                            <!--<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 d-none text-center d-sm-block">-->
                                <!--<h1 class="text-primary">{{collections.posts.length}}</h1>-->
                                <!--<p class="m-0">posts</p>-->
                                <!--<p class="m-0">In <strong>{{collections.list.length}}</strong> collection</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <hr>
                </form>
                <div class="col-12 px-3">
                    <div class="row align-items-center" ng-init="collections.selectedCollection = ('collections.all' | translate)">
                        <div class="col-sm-auto pr-0">
                            <div class="mr-1 my-2 d-inline-block" ng-hide="collections.selectedActive && collections.renameActive" translate="collections.nowShowing">Now showing:</div>
                            <div class="mr-1 my-2 d-inline-block" ng-show="collections.selectedActive && collections.renameActive">
                                <span translate="collections.rename">Rename</span><span>:</span>
                            </div>
                            <div class="my-2 d-inline-block text-primary" ng-hide="collections.renameActive">{{collections.selectedCollection}}</div>
                            <form name="collectionRenameForm" ng-submit="collections.renameCollection(collectionRenameForm.$valid)" class="d-inline-block" ng-show="collections.renameActive">
                                <input type="text" class="form-control collections-rename-input" ng-class="{'is-invalid' : collectionRenameForm.rename.$invalid && collectionRenameForm.rename.$dirty || collections.renameFormSubmitted && collectionRenameForm.rename.$invalid || collections.collectionRename.length > 18 || collections.renameFormSubmitted && collections.renameExist}" ng-model="collections.collectionRename" ng-change="collections.renameExist = false" aria-label="rename" name="rename" minlength="3" required>
                                <button type="submit" hidden></button>
                                <!--<div ng-show="collectionRenameForm.rename.$invalid && collectionRenameForm.rename.$dirty || collections.renameFormSubmitted && collectionRenameForm.rename.$invalid" class="invalid-feedback" translate="collections.minimumName">Minimum length of 3 characters</div>-->
                                <!--<div ng-show="collections.collectionRename.length > 18 || collections.renameFormSubmitted && collections.collectionRename.length > 18" class="invalid-feedback d-block" translate="collections.maximumName">Maximum length of 18 characters</div>-->
                                <!--<div ng-show="collections.renameFormSubmitted && collections.renameExist" class="invalid-feedback d-block" translate="collections.exists">A collection with this name already exists</div>-->
                            </form>
                        </div>
                        <div class="col-sm-auto collections-edit-buttons" ng-show="collections.selectedActive && !collections.renameActive">
                            <button class="btn btn-link text-success my-2" ng-click="collections.renameCollectionClick()">
                                <i class="mdi mdi-pencil small mr-2"></i><span translate="collections.rename">Rename</span>
                            </button>
                            <button class="btn btn-link text-danger my-2" ng-click="collections.deleteCollection(); collections.selectedCollection = ('collections.all' | translate);">
                                <i class="mdi mdi-close small mr-2"></i><span translate="collections.remove">Remove</span>
                            </button>
                        </div>
                        <div class="col-sm-auto collections-edit-buttons" ng-show="collections.renameActive">
                            <button class="btn btn-link text-primary my-2" ng-click="collections.renameCollection(collectionRenameForm.$valid)">
                                <i class="mdi mdi-content-save mr-2"></i><span translate="collections.save">Save</span>
                            </button>
                            <button type="submit" class="btn btn-link text-danger my-2" ng-click="collections.renameActive = false">
                                <i class="mdi mdi-close-circle mr-2"></i><span translate="collections.cancel">Cancel</span>
                            </button>
                        </div>
                    </div>
                    <ul class="list-inline mt-2">
                        <li class="list-inline-item mr-0">
                            <button type="button" class="btn btn-outline-primary btn-sm m-1" ng-class="{'collections-selected':!collections.selectedActive}" ng-click="collections.showAllPosts(); collections.selectedCollection = ('collections.all' | translate);" translate="collections.all">All</button>
                        </li>
                        <li class="list-inline-item" ng-repeat="collection in collections.list | orderBy:'name'">
                            <button type="button" class="btn btn-outline-primary btn-sm m-1" ng-class="{'collections-selected':collections.selectedCollection === collection.name}" ng-click="collections.showCollection(collection.id); collections.selectedCollection = collection.name; collections.collectionRename = collection.name;">{{collection.name}}</button>
                        </li>
                    </ul>
                </div>
                <div class="w-100"><hr></div>
                <div class="col-12 px-3">
                    <div class="grid-wrap">
                        <div class="dynamic-grid" angular-grid="collections.posts" ag-grid-width="collections.gridWidth" ag-gutter-size="collections.gutterSize" ag-id="gallery" ng-class="{'h-100' : collections.posts.length === 0}">
                            <div class="card grid" data-ng-repeat="post in collections.posts | orderBy: '-created_at'">
                                <div class="grid-img-wrap" ui-sref="collections.post({id:post.id})">
                                    <img class="card-img-top" ng-src="{{post.preview}}" alt="{{post.title}}">
                                    <div class="grid-author">{{post.title}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-nothing-load-more text-center lead my-5 text-primary" ng-show="collections.posts.length === 0" translate="collections.emptyCollection">Empty collection</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ui-view name="modal" />